@model List<string>
@{
ViewData["Title"] = "My Razor Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
</head>
<body>
<h1>@ViewData["Title"]</h1>

<p>This is a list of items passed from the controller:</p>

<ul>
    @foreach (var item in Model)
    {
    <li>@item</li>
    }
</ul>
</body>
</html>