body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.container {
    display: flex;
    gap: 2rem;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
}

.square {
    width: 100px;
    height: 100px;
    background-color: blue;
}